:root {
  --jumbotron-padding-y: 3rem;
}

body {
  scroll-padding-top: var(--navbar-height);
}


.container-fluid.banner {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: linear-gradient(#CB212D 50%, black 50%); /* Split background top/bottom */
  position: relative; /* Positioning context for absolute children */
  width: 100%; /* Full width */
  padding-top: 17.85%; /* Half the height of the image's aspect ratio to maintain it and approximate the desired 30% of the viewport height */
  max-height: 30vh; /* Maximum height constraint */
  overflow: hidden; /* Ensures that nothing overflows the container's height */
}

.banner-img {
  position: absolute; /* Absolute positioning */
  top: 0;
  left: 0;
  width: 100%; /* Responsive width */
  max-width: none; /* Override any max-width */
  height: auto; /* Maintain aspect ratio */
}


.jumbotron {
  position: relative; /* Make sure the jumbotron is a positioned container */
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #ffffff00;
  overflow: hidden; /* Ensure any overflowing content inside jumbotron is hidden */
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron button:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  color: white; /* Set text color to white */
  font-weight: 600; /* Increase font weight */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.728); /* Add text shadow */
}

h2.jumbotron-heading {
  position: relative;
  padding-bottom: 5px;
}

h2.jumbotron-heading::before,
h2.jumbotron-heading::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

h2.jumbotron-heading::before {
  bottom: 0;
}

h2.jumbotron-heading::after {
  bottom: -2px;
}



.jumbotron .container {
  max-width: 40rem;
}

canvas {
  display: block;
}

/* Position the particles.js container */
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas stays behind the content */
  background-color: #CB212D; /* Fallback color */
  background-image: url(""); /* Fallback image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
}

.horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
}

@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}

.accordion {
  --bs-accordion-active-bg: #CB212D;
  --bs-accordion-btn-focus-box-shadow: #CB212D;
  --bs-accordion-border-color: #CB212D;
  --bs-accordion-active-color: white;
}

.colored-break {
  background-color: #CB212D; /* Replace with your desired color */
}



.timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #CB212D;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: flex-end; /* For items on the right */
  margin-bottom: 2rem;
  width: 100%;
}

.timeline-item:nth-child(even) {
  justify-content: flex-start; /* For items on the left */
}

.timeline-card {
  position: relative;
  width: calc(50% - 4px); /* To prevent overlap with the line */
  z-index: 2;
}

.card {
  width: 100%;
}

@media (max-width: 800px) {
  .timeline-line {
      left: 50%;
      transform: translateX(-50%);
  }

  .timeline-item {
      justify-content: center; /* Center the cards on mobile */
      margin-bottom: 2rem;
  }

  .timeline-card {
      width: 80%; /* Adjust width for mobile devices */
      max-width: 340px; /* Optional: you can set a max-width for aesthetics */
      margin-left: auto;
      margin-right: auto;
  }

}

@keyframes pulsate-border-pending {
  0% {
    box-shadow: 0 0 0 0 #CB212D;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes pulsate-border-upcoming {
  0% {
    box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(211, 211, 211, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(211, 211, 211, 0);
  }
}

.pulsating-border-pending {
  animation: pulsate-border-pending 2s infinite;
}

.pulsating-border-upcoming {
  animation: pulsate-border-upcoming 2s infinite;
}

.opaque {
  opacity: 0.5;
}