:root {
  --jumbotron-padding-y: 2rem;
}

html {
   scroll-padding-top: 100px;
}


.container-fluid.banner {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Positioning context for absolute children */
  width: 100%; /* Full width */
  padding-top: 17.85%; /* Half the height of the image's aspect ratio to maintain it and approximate the desired 30% of the viewport height */
  max-height: 30vh; /* Maximum height constraint */
  overflow: hidden; /* Ensures that nothing overflows the container's height */
}

.banner-img {
  position: absolute; /* Absolute positioning */
  top: 0;
  left: 0;
  width: 100%; /* Responsive width */
  max-width: none; /* Override any max-width */
  height: auto; /* Maintain aspect ratio */
}


.program-banner {
  background-image: url("images/graphbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vh; /* This sets the height to 1/3 of the viewport height */
  max-height: 300px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.program-banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.program-banner h1 {
  color: white; /* Adjust text color as needed */
  font-size: 2.5rem; /* Adjust font size as needed */
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 0;
}




.program-banner {
  background-image: url("../images/graphbg.png"); /* Your image path */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  height: 15vh; /* Set the height to 11% of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0; /* Ensure the image background is behind the text */
}

.program-banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); /* 20% opacity */
  z-index: 1;
}
.program-banner h1 {
  color: white; /* Text color */
  font-size: 2.5rem; /* Default font size for larger screens */
  text-align: center;
  position: relative;
  z-index: 2; /* Keep the text above the overlay */
  padding: 20px; /* Default padding */
  margin: 0;
  max-width: 100%; /* Ensure the text doesn't overflow */
}

@media (max-width: 1200px) {
  .program-banner h1 {
    font-size: 2rem; /* Slightly smaller font for medium screens */
    padding: 15px; /* Reduce padding for medium screens */
  }
}

@media (max-width: 768px) {
  .program-banner h1 {
    font-size: 1.8rem; /* Smaller font size for tablet-sized screens */
    padding: 1vh; /* Reduce padding for tablets */
  }
}

@media (max-width: 480px) {
  .program-banner h1 {
    font-size: 1.5rem; /* Smaller font for mobile phones */
    padding: 1vh; /* Smaller padding for mobile phones */
  }
}

@media (max-width: 320px) {
  .program-banner h1 {
    font-size: 1.2rem; /* Even smaller font size for very small mobile screens */
    padding: 2vh; /* Adjust padding further for small mobile screens */
  }
}




.jumbotron {
  position: relative; /* Make sure the jumbotron is a positioned container */
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #ffffff00;
  overflow: hidden; /* Ensure any overflowing content inside jumbotron is hidden */
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron button:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  color: white; /* Your whitish text color */
  font-weight: 600; /* Increase font weight */
  -webkit-text-stroke: 1px #8B0000; /* Dark red stroke for better contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjusted shadow for depth */
}


h1.jumbotron-heading {
  font-size: 4rem;
}

h2.jumbotron-heading {
  position: relative;
  padding-bottom: 5px;
}

h2.jumbotron-heading::before,
h2.jumbotron-heading::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

h2.jumbotron-heading::before {
  bottom: 0;
}

h2.jumbotron-heading::after {
  bottom: -2px;
}

@media (max-width: 768px) {
  .jumbotron-heading {
      text-shadow: none;
      -webkit-text-stroke: none;
  }
}

@media (max-width: 768px) {
  body {
      font-family: "Arial", sans-serif; /* Force simpler font stack for mobile */
  }
}


.jumbotron .container {
  max-width: 45rem;
}

canvas {
  display: block;
}

/* Position the particles.js container */
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas stays behind the content */
  background-color: #CF1D29; /* Fallback color */
  background-image: url(""); /* Fallback image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


.accordion {
  --bs-accordion-active-bg: #CF1D29;
  --bs-accordion-btn-focus-box-shadow: #CF1D29;
  --bs-accordion-border-color: #CF1D29;
  --bs-accordion-active-color: white;
}

.colored-break {
  background-color: #CF1D29; /* Replace with your desired color */
}

.timeline-container {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  background: #CF1D29;
  transform: translateX(-50%);
  z-index: 1;
  height: calc(100% - 50px); /* Manual adjustment, tweak based on actual content */
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 70vw; /* Updated width */
}

.timeline-card {
  position: relative;
  width: calc(50% - 4px); /* Adjust based on new .timeline-item width if needed */
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100%;
}

/* Adjustments for smaller screens */
@media (max-width: 800px) {
  .timeline-line {
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 80vw; /* Adjust the width for smaller screens */
    margin-bottom: 2rem;
  }

  .timeline-card {
    width: calc(80% - 4px); /* Adjust based on the new width of .timeline-item */
    max-width: 340px; /* Keep the max-width to ensure cards don't get too large on smaller screens */
  }
}



@keyframes pulsate-border-pending {
  0% {
    box-shadow: 0 0 0 0 #CF1D29;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes pulsate-border-upcoming {
  0% {
    box-shadow: 0 0 0 0 rgba(211, 211, 211, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(211, 211, 211, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(211, 211, 211, 0);
  }
}

.pulsating-border-pending {
  border-radius: 5px;
  animation: pulsate-border-pending 2s infinite;
}

.pulsating-border-upcoming {
  border-radius: 5px;

  animation: pulsate-border-upcoming 2s infinite;
}

.opaque {
  opacity: 0.5;
}


.footer-link {
  color: #C0BEBE; /* Gray color for links */
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover, .footer-link:focus {
  color: #ffffff; /* White on hover/focus */
  transform: translateY(-2px); /* Subtle lift effect */
}


.card-img-size {
  width: 100%; /* Adjust based on your preference */
  margin: auto;
}


a.link-style:link { /* Unvisited links */
  color: #ff0011;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Invisible border */
  transition: border-bottom-color 0.3s ease-in-out; /* Transition effect */
}

a.link-style:hover,
a.link-style:focus { /* Hover and focus states */
  border-bottom: 2px solid #ff0011; /* Visible border simulates underline */
}


a.link-style:visited { /* Visited links */
  color: #CF1D29;
}


h3 > a.link-style:link { /* Unvisited links */
  color: #ff0011;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Invisible border */
  transition: border-bottom-color 0.3s ease-in-out; /* Transition effect */
}

h3 > a.link-style:hover,
h3 > a.link-style:focus { /* Hover and focus states */
  border-bottom: 2px solid #ff0011; /* Visible border simulates underline */
}


h3 > a.link-style:visited { /* Visited links */
  color: #CF1D29;
}


ul.topics-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.topics-ul li {
  border-top: 1px solid #CF1D29;
  border-bottom: 1px solid #CF1D29;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

ul.topics-ul li:hover {
  background-color: #CF1D29;
  color: white;
  cursor: pointer;
}

ul.topics-ul li:first-child {
  border-top: none;
}

ul.topics-ul li:last-child {
  border-bottom: none;
}


.sticky-aside {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Adjust based on your header/nav height */
  height: fit-content;
}


.responsive-image {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 576px) {
  .responsive-image {
    width: 80%; /* Adjust this value as needed */
  }
}

.sponsor-figure {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.sponsor-figure figcaption {
  margin-top: 8px;
  font-weight: bold;
}

.sponsor-figure img {
  display: block;
  margin: 0 auto;
}

.sponsor-figure.platinum img {
  width: 100%;
}

.sponsor-figure.gold img {
  width: 80%;
}
